 /*  Name: Ryan Fleury
     Due Date: 5/4/2022
     Web Server Development 

     Honor Code:
     "I have neither given nor received unauthorized aid in completing this work, nor have I presented someone else's work as my own."
     */

body{
    font: 18px/1.5 Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(67, 169, 253);
    
}

/*Global*/
.container{
    width: 70%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

/*Header*/
header{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding-top: 1%;
    min-height: 50%;
    border-bottom: rgb(255, 255, 255) 4px solid;

    background-image: url("https://ryguy149.github.io/PicturesForWeb/uniLogo.png");
    background-attachment: fixed;
    background-position: top right;
    background-repeat: no-repeat;
    
}

/* set tge header link color and font style */
header a{
    color:white;
    text-decoration: none; 
    text-transform: uppercase;
    font-size: 100%;
}

/* hover state for the sectoion of the site */
header a:hover{
    color:rgb(67, 169, 253);
    font-weight: bold;
}

/* set the link color and font style */
#contactMe a{
    color:rgb(8, 27, 195);
    font-style: normal;
}


/* on hover highlight link to email to white */
#contactMe a:hover{
    color:rgb(249, 250, 251);
    font-style: italic;
}

/* highlight my name in title to a light blue */
header .highlight, header .current a{
    color:rgb(67, 169, 253);
    font-weight: bold;
}

/* place the list item accordingly in the header */
header li{
    float: left;
    display: inline;
    padding: 0 18px 0 18px;
}





/* projects page section on the website */
/* set space between list items on projectsPage*/
#projectsPage li + li {
    margin-top: 3%;
}

/* make list items font larger and italic */
#projectsPage li {
    font-style: italic;
    font-size: larger;
}

#projectsPage sub{
    font-size: 82%;
    font-style: normal;
}

#projectsPage{
    
    font-size: 130%;

}

#projectsPage img{ 
    border: 8px solid rgb(62, 62, 62);
}


header #introduction{
    float:left;
}

header #introduction h1{
    margin: 0;
}

header nav{
    float: left;
    margin-top: 1%;
}



/* highlights the current tab in blue */
header .highlight, header .current a{
    color:rgb(67, 169, 253);
    font-weight: bold;
}



/* personal info section for me */
#personalInfo{
    /* appends my lacrosse photos */
    min-height: 440px;
    background: url("https://ryguy149.github.io/PicturesForWeb/lax1.jpg") no-repeat 0 -70px; 
    background-size: cover;
    background-position: center;


    text-align: center;
    color:white;

    /* ref https://stackoverflow.com/questions/4772906/css-is-it-possible-to-add-a-black-outline-around-each-character-in-text */
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    
}

#personalInfo h1{
    margin-top: 28%;
    font-size: 60px;
    margin-bottom: 1%;

}

#personalInfo p{
    font-size: 170%;
}



#contactMe{
    padding-bottom: 1%;
    color: rgb(0, 0, 0);
    font-size: 120%;
    
}


#contactMe p{
    font-size: 120%;
}

#contactMe img{
    padding-left: 20%;
    padding-top: 3%;
    padding-right: 13%;
    float:right;
    
}


#aboutMe{
    color: white;
    background: black;
    font-size: 110%;
}

/* sets the returning user info in the bottom right of the screen */
#returningUse {
    position: fixed;
    bottom: 2%;
    right: 1%;
    width: 18%;
    padding: 1% 1%;
    align-items:left;
    justify-content: space-between;
    background-color: rgb(166, 159, 159);
    border-radius: 4%;
}


#welcome a 
{
    color: rgb(0, 0, 0);
}



/* postion the cookie pop up in the bottom right of the screen */
/* ref https://fullstackheroes.com/tutorials/javascript/cookie-policy-popup/ */
#cookieNotice{
    position: fixed;
    bottom: 2%;
    right: 1%;
    width: 30%;
    padding: 1% 1%;
    align-items:left;
    justify-content: space-between;
    background-color: rgb(166, 159, 159);
    border-radius: 4%;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

#cookieNotice h3 
{
    color: rgb(0, 0, 0);
}



footer{
    padding: 1%;
    margin-top: 1%;
    color: white;
    background-color: black;
    text-align: center;
}

#main{
    float: center;
}